/* You can add global styles to this file, and also import other style files */

form input::placeholder{

    color:green !important;
}

form.ng-invalid.submitted input.ng-invalid{
    border-color: red;
}
table tr td:not(:last-child):hover{
    cursor: pointer;
}
table tr td:last-child> i:hover{
    cursor: pointer;
}