<div class="text-bg-dark text-center rounded-bottom">
    <h1 class="display-4">
        Employee Register
    </h1>
</div>
<div class="p-4">
    <div class="row">
        <div class="col-md-6">
            <app-employee-form></app-employee-form>
        </div>
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let emp of service.list">
                            <td>{{emp.fullName}}</td>
                            <td>{{emp.position}}</td>
                            <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>